* {
    bg-col: #282c34;
    bg-col-light: #abb2bf;
    border-col: #5c6370;
    selected-col: #507aa0;
    blue: #61afef;
    fg-col: #abb2bf;
    fg-col2: #abb2bf;
    grey: #5c6370;
    width: 600;
}

